<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer>
    <div class="footer-cont">
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Disclaimer</a>
        <a href="#">Terms and Conditions</a>
    </div>
</footer>
</body>

</html>