<link rel="stylesheet" href="css/style.css">
<nav>
    <div class="logo">
        <h1>Hariom</h1>
    </div>
    <div class="link">
        <a href="#" class="link-item">Welcome</a>
        <a href="/about" class="link-item">About</a>
        <a href="#" class="link-item">Services</a>
        <a href="#" class="link-item">Team</a>
        <a href="#" class="link-item">Blog</a>
        <a href="#" class="link-item">Contact</a>
        
    </div>
</nav>